


<header class="page-header">
  <h1>Apply to Job</h1>
</header>


<form action="/job_applications" method="post">

  <!-- User -->
  <div class="form-group">
    <label for="user_fname">First Name</label>
    <input type="text" class="form-control" id="user_fname" name="user[fname]" value="George">
  </div>

  <div class="form-group">
    <label for="">Last Name</label>
    <input type="text" class="form-control" id="user_lname" name="user[lname]" value="Costanza">
  </div>

  <div class="form-group">
    <label for="">Email</label>
    <input type="email" class="form-control" id="user_email" name="user[email]" value="george_costanza@gmail.com">
  </div>


  <!-- User Profile Gender -->
  <div class="form-group">
    <label>Gender</label>
    <div class="radio">
      <label>
        <input type="radio" value="m" name="user[profile][gender]"checked="checked"> Male
      </label>
      <label>
        <input type="radio" value="f" name="user[profile][gender]"> Female
      </label>
    </div>
  </div>


  <!-- User Profile Birthday -->
  <div class="form-group">
    <label>Birthday</label>
  </div>

  <div class="form-group">
    <label for="user_profile_birthday_year">Year</label>
    <select name="user[profile][birthday][year]" id="user_profile_birthday_year" class="form-control">
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
    </select>
  </div>

  <div class="form-group">
    <label for="user_profile_birthday_month">Month</label>
    <select name="user[profile][birthday][month]" id="user_profile_birthday_month" class="form-control">
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>

  <div class="form-group">
    <label for="user_profile_birthday_day">Day</label>
    <select id="user_profile_birthday_day" name="user[profile][birthday][day]" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
  </div>


  <!-- User Profile Address -->
  <div class="form-group">
    <label for="user_profile_address_street">Street Address</label>
    <input type="text" class="form-control" id="user_profile_address_street" name="user[profile][address][street]" value="1234 Street Rd">
  </div>

  <div class="form-group">
    <label for="user_profile_address_city">City</label>
    <input type="text" class="form-control" id="user_profile_address_city" name="user[profile][address][city]" value="Land of Oz">
  </div>

  <div class="form-group">
    <label for="user_profile_address_state">State</label>
    <select name="user[profile][address][state_id]" id="user_profile_address_state" class="form-control">
      {{#each states as |state| }}
        <option value="{{ state.id }}">{{ state.name }}</option>
      {{/each }}
    </select>
  </div>


  <!-- Job Application -->
  <div class="form-group">
    <label for="job_application_desired_position">Desired Position</label>
    <input type="text" id="job_application_desired_position" name="job_application[desired_position]" class="form-control" value="Storage Room B">
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="job_application_currently_employed" name="job_application[currently_employed]" value="true" checked="checked"> Currently Employed
      </label>
    </div>
  </div>


  <!-- User Education -->
  <div class="form-group">
    <label for="user_educations_high_school_name">High School</label>
    <input type="text" id="user_educations_high_school_name" name="user[educations][0][name]" class="form-control" value="Ridgemont High">
    <input type="hidden" name="user[educations][0][type]" value="highschool">
  </div>

  <div class="form-group">
    <label for="user_educations_college_name">College</label>
    <input type="text" id="user_educations_college_name" name="user[educations][1][name]" class="form-control" value="Harrison University">
    <input type="hidden" name="user[educations][1][type]" value="college">
  </div>


  <!-- User Skills -->
  <div class="form-group">
    <label for="user_skills_1">Skills</label>
    <input type="text" id="user_skills_1" name="user[skills][]" class="form-control" value="JavaScript">
  </div>

  <div class="form-group">
    <label for="user_skills_2">Skills</label>
    <input type="text" id="user_skills_2" name="user[skills][]" class="form-control" value="HTML">
  </div>

  <div class="form-group">
    <label for="user_skills_3">Skills</label>
    <input type="text" id="user_skills_3" name="user[skills][]" class="form-control" value="CSS">
  </div>

  
  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>





















